<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- <Link href='/assets/css/antd.min.css' rel="stylesheet"></Link> -->
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div id="root"></div>
</body>
<script>window.main()</script>

</html>